@use "./variables";

.hero {

    .container {
        max-width: 80%;
    }

    background-color: variables.$corSecundaria;
    text-align: center;

    &__title {
        font-family: 'Pacifico', cursive;
        font-size: 32px;
        background-color: variables.$corPrincipal;
        padding: 16px 0;
    }

    &__text {
        &--big {
            margin-top: 64px;
            margin-bottom: 32px;
            font-size: 32px;
        }

        &--small {
            line-height: 32px;
            border-bottom: 1px solid #fff;
            border-top: 1px solid #fff;
            padding: 16px 0;
            margin-bottom: 64px;
        }
    }

    &__button {
        padding: 12px 48px;
        font-size: 32px;
        text-decoration: none;
        // white-space: nowrap;
        background-color: variables.$corTerciaria;
    }

    &__content {
        padding-bottom: 64px;
    }

    /* 
    @media (max-width: 640px) {
        padding: 40px 0;

        &__logo {
            height: 40px;
        }

        &__text {
            font-size: 22px;
            line-height: 24px;
            margin: 24px 0;
        }
    } */
}